@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html, body{
    background-image: linear-gradient(to right,#f2afaf, #f46a96, #f482d5, #B7B1F2);
    height: 93vh;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#eaadad, #d94674, #e151bb, #746ace);
    overflow: hidden;
    border-radius: 150px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
}
.logo{
    margin-right: auto;
}
.logo a{
    display: flex;
    float: left;
    align-items: center;
}
.logo img{
    width: 25px;
    margin-left: 17px;
    padding-top: 15px 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo p{
    margin-left: 10px;
}
.nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.nav1 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 li{
    padding: 5px 15px;
    font-size: 22px;
    font-weight: 250px;
    list-style: none;
}
.nav1 a{
    color: rgb(255, 219, 232);
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 550;
}
.nav1 a:hover{
    background-color: #9b1e46;
    border-radius: 50px;
    border-width: 50px;
    color: #ffffff;
}
.container1{
    padding: 10px 30px;
    margin-left: 100px;
    color: rgb(255, 212, 228);
}
.container1 img{
    float: right;
    top: -80vh;
    border-radius: 50%;
    margin-right: 100px;
    margin-top: 50px;
    width: 35%;
}
.details h1{
    margin-top: 80px; 
    margin-left: 5px;
}
.details p{
    margin-top: -20px;
    font-size: 25px;
    color: rgb(222, 35, 72);
    margin-left: 5px;
}
button{
    background-color: #fcdfdf;
    padding: 17px 22px;
    border-radius: 20px;
    margin-top: 35px;
    transition-duration: 0.4s;
    animation-timing-function: ease-in-out;
}
button a{
    color: #f1d4e2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.4s;
}
.btn{
    background-color: rgb(161, 50, 50) ;
    border: 2px solid #250010;
}
.btn:hover {
    background-color: #f0adc1;
}
.btn:hover a{
    color: #300101;
}
.container{
    margin: 50px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.container img{
    max-width: 400px;
    float: left;
    border-radius: 30px;
    margin-right: 40px;
}
.info{
    color: white;
}
.info h2{
    text-align: justify;
    text-justify: none;
}
.info p{
    font-size: 15.5px;
    text-align: justify;
    text-justify: none;
    color: rgb(27, 2, 100);
}
.btn1{
    float: left;
    top: -105px;
    padding: 15px 20px;
}
.btn1{
    background-color: rgb(161, 50, 50) ;
    border: 2px solid #250010;
}
.btn1:hover {
    background-color: #f0adc1;
}
.btn1:hover a{
    color: #300101;
}
.container2{
    margin: 180px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.info2 h2{
    margin: 15px;
    color: white;
    font-size: 50px;
    text-align: center;
    align-items: center;
}
.container2 img{
    max-width: 500px;
    float: right;
    margin-right: 5px;
}
.info2 li{
    list-style-type: none;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: justify;
    text-justify: none;
    font-size: 18px;
    color: rgb(27, 2, 100);
}
.iframe_map{
    margin: 65px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}
.iframe_text{
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 75px;
}
.iframe_text h3 {
    margin: 75px;
}
.iframe_yttext{
    font-size: 50px;
    text-align: center;
    color: white;
    margin: 75px;
}
.iframe_yttext {
    margin: 75px;
}
.iframe_yt{
    margin: 65px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}
.intro {
    margin: 50px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.intro h2{
    color: white;
    font-size: 50px;
}
.intro p{
    color: rgb(27, 2, 100);
    font-size: 16px;
}
.intro1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0; 
}
h4 {
    color: white;
    margin: auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.container3{
    padding: 10px 0px;
}
.wrapper{
    padding: 10px 10%;
}
.card_area{
    display: grid;
    margin: 25px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    position: relative;
    box-shadow: 10px 12px 20px rgb(255, 187, 187);
    border-radius: 20px;
    width: 350px;
    overflow: hidden;
}
.card img {
    height: 350px;
    width: 350px;
    display: block;
    border-radius: 20px;
    transition: transform 0.5s;
}
.overlay{
    height: 0;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    transition: height 0.5s;
    padding: 0 10px;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background: linear-gradient(transparent, #f1d4e2 60%)
}
.overlay h3{
    margin-top: 55%;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}
.overlay a{
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    dominant-baseline: 400;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px 15px;
    background: #f1d4e2;
    background-color: rgb(161, 50, 50) ;
    border: 2px solid #250010;
}
.card:hover img{
    transform: scale(1.5);
}
.card:hover .overlay{
    height: 100%;
}
.container4{
    padding: 10px 0px;
}
.wrapper1{
    padding: 10px 10%;
}
.card_area1{
    display: grid;
    margin: 25px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card1{
    position: relative;
    box-shadow: 10px 12px 20px rgb(255, 187, 187);
    border-radius: 20px;
    width: 350px;
    overflow: hidden;
}
.card1 img {
    height: 350px;
    width: 350px;
    display: block;
    border-radius: 20px;
    transition: transform 0.5s;
}

.card1:hover img{
    transform: scale(1.5);
}
.card1:hover .overlay{
    height: 100%;
}
.introduction {
    margin: 30px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.introduction h5{
    color: white;
    font-size: 15px;
}
